.vscode/
build/
data/
.venv/
__pycache__/
*.pyc
.DS_Store
*.html

*.json
*.txt
*.png
*.bin
*.md

golden_models/

!operator_base_info.json
!generate_python_golden/README.md
!generate_python_golden/config.json
!model_execplan/config/SFU_Coeff/