.vscode/
build/
data/
.venv/
__pycache__/
*.pyc
.DS_Store
*.html

*.json
*.txt
*.png
*.bin
*.md

golden_models/
model_execplan/output/*zip

!operator_base_info.json
!generate_python_golden/README.md
!generate_python_golden/config.json
!model_execplan/config/SFU_Coeff/*.txt
!model_execplan/README.md
!model_execplan/pyrightconfig.json
!jsons/*json

!address_remapping/.gitignore
!address_remapping/Makefile
!address_remapping/pyproject.toml
!address_remapping/*.md
!address_remapping/examples/**/*.json
!address_remapping/outputs/
!address_remapping/outputs/**
